html {
	scroll-padding-top: 4.5rem;
}

body {
	position: relative;
	overflow-x: hidden;
}

p {
	line-height: 1;
}

.page-section {
	padding: 0.5rem 0;
	font-family: "Lato", "Segoe UI";
}

.btn-xl {
	padding: 1.25rem 2.5rem;
	font-size: 1.125rem;
	font-weight: 700;
}

#mainNav {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #212529;
	font-family: "Lato", "Segoe UI";
}

#mainNav .navbar-toggler {
	padding: 0.75rem;
	font-size: 0.75rem;
	text-transform: uppercase;
	font-weight: 700;
}

#mainNav .navbar-nav .nav-item .nav-link {
	font-size: 1rem;
	color: #fff;
	letter-spacing: 0.0625em;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover
	{
	color: rgb(143, 187, 22);
}

.form-control::placeholder {
	font-size: 0.95rem;
	font-style: italic;
}

.modal-header {
	background-color: #212529;
}

/* banner */
header.banner {
	padding-top: 6rem;
	padding-bottom: 6rem;
	text-align: right;
	color: #fff;
	background-image: url("../img/headerbg.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

/* text in banner */
header.banner .bannerText {
	font-size: 2rem;
	font-weight: 700;
	line-height: 3.25rem;
	margin-bottom: 2rem;
	font-family: "Lato", "Segoe UI";
}

.banner, .footer, .modal-dialog, .dash {
	font-family: "Lato", "Segoe UI";
}

.social-icon {
	margin-left: -0.3rem;
}

li {
	padding-bottom: 0.3rem;
}

.shopping-cart {
	margin-bottom: 2rem;
}

.sub_ad {
	padding: 0.1rem !important;
}

#ad {
	padding: 0.7rem !important;
}

.phone-img:hover {
	opacity: 0.7;
	transition-duration: 0.7s;
	transition-timing-function: ease;
}

.contact-info {
	padding: 1rem;
	margin-bottom: 1rem;
	color: #fff;
	text-align: left;
	font-size: 1rem
}

.contact {
	background-color: #212529;
}

.contact-info h6 {
	color: rgb(143, 187, 22);
}

.contact-info li {
	list-style-type: none;
}

.fa-lg {
	margin-top: 1.1rem;
	margin-right: 0.5rem;
	color: rgb(143, 187, 22);
}

.btn-social {
	height: 2.5rem;
	width: 2.5rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 100% !important;
}

.info {
	list-style-type: none;
	padding: 0;
}

.phone-item {
	padding: 2rem;
}

.pay-card {
	padding: 0 1.3rem 1rem 1.3rem;
}

/* dashboard */
.left-col {
	background-color: #212529;
	height: 70rem;
}

.das-icon {
	margin-bottom: 2rem;
	margin-left: 0rem;
}

.das-logo {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

@media ( min-width : 992px) {
	#mainNav {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		border: none;
		background-color: transparent;
		transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s
			ease-in-out;
	}
	/* topbar */
	#mainNav.navbar-shrink {
		padding-top: 0.1rem;
		padding-bottom: 0.1rem;
		background-color: #212529;
	}
	#mainNav .navbar-nav .nav-item {
		margin-right: 1rem;
	}
	.phone-item {
		padding: 1rem;
	}
}

@media ( min-width : 768px) {
	header.banner {
		padding-top: 5rem;
		padding-bottom: 5rem;
		font-size: 2.25rem;
		line-height: 2.25rem;
		margin-bottom: 2rem;
	}
	header.banner .bannerText {
		font-size: 3rem;
		font-weight: 700;
		line-height: 4.5rem;
		margin-bottom: 4rem;
	}
	.phone-item {
		padding: 0.5rem;
	}
	.das-logo {
		padding: 1.5rem;
	}
}

@media ( min-width : 576px) {
	.fa-lg {
		margin-top: 1.2rem;
		color: rgb(143, 187, 22);
	}
	.phone-item {
		padding: 0.5rem;
	}
	.das-icon {
		margin-bottom: 2rem;
		margin-left: 2rem;
	}
}